<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tired of inefficient elevator management? </title>

    <meta name="keywords" content="Elevator Service Software, Elevator Service Scheduling Software, Elevator Service Mobile App, Elevator Contractor Management Software, 
    Elevator Management Software, Elevator Maintenance Service Software, 
    Elevator Field Service Software, Elevator Company Software, 
    Lift Maintenance Software, 
    Elevator Service Management Software,
    elevator software,
    repair service software,
    field service crm software,
    service and repair software,
    amc software,
    field service invoicing,
    elevator service tool,
    lift management software,
    elevator business software,
    elevator apps,
    Elevator Contractor Management Software ,AMC management for elevator companies, Elevator service management software, field service management software for elevator manufacturers, 
    Best Elevator Software, Software for Elevator CompanyLifts & Escalators business management software, elevator maintenance software, lift maintenance scheduling software, top field service software for Lifts & Escalators ,
    Technician Scheduling software for Lift repair services, amc software for Lifts & Escalator maintenance, Field service management software for elevator technicians, 
    amc software for Lifts & Escalator maintenance, Best FSM Software for lift and elevator , 
    Best Software for Lifts & Escalators Industry, lift service and maintenance software, elevator service and maintenance software,
    elevator software, lift maintenance company, lift property management, amc softwareservice crm,
    crm services,
    lift maintenance,
    software companies in salem,
    hvac software,
    elevator companies in pune,
    elevators in india,
    india elevators,
    lift consultants,
    elevator consulting firms,
    elevator consulting companies,
    elevator consulting,
    elevator consulting services,
    elevator company in pune,
    elevator manufacturers in pune,
    elevator companies in pune,
    lift manufacturers in pune,
    pune elevator companies,
    elevator manufacturers in maharashtra,
    elevators manufacturers in pune,
    elevators company in pune,
    elevator manufacturer in pune,
    elevator manufacturers in pune,
    elevator company in pune,
    star elevator,
    lift manufacturer in pune,
    lift manufacturers in pune,
    lift companies in pune,
    lift company in pune,
    elevators manufacturers in pune,
    star elevators,
    elevator manufacturer in pune, elevators company in mumbai,
    
    stretcher lift,
    elevator company in pune,
    hospital elevators,
    lift manufacturer in india,
    lift companies in pune," />
    <meta name="description" content="
    Book your free demo today and Elevate your elevator management business with Elevator Plus.">
    <meta name="author" content="elevatorplus.app">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/img/elevatorplus-favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-files/img/elevatorplus-favicon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-files/website-filesvendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-files/css/theme.css">
    <link rel="stylesheet" href="/website-files/css/theme-elements.css">
    <link rel="stylesheet" href="/website-files/css/theme-blog.css">
    <link rel="stylesheet" href="/website-files/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-files/css/custom.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body data-plugin-page-transition>
    <% include layoutwebsite/webheader %>
        <div class="body">

            <div role="main" class="main">



                <div class="container">

                    <div class="row py-4 mobile-div-flex">
                        <div class="col-lg-5">

                            <br>
                            <div class="overflow-hidden mb-1">
                                <h1 class="text-primary font-size font-weight-bold text-8  mb-0 appear-animation"
                                    data-appear-animation="maskUp" data-appear-animation-delay="200"><strong>Automate &
                                        grow more.
                                        Contact us today!
                                    </strong></h1>
                            </div>
                            <br>


                            <div class="overflow-hidden">
                                <!-- <p class="mb-0 appear-animation" data-appear-animation="maskUp"
                                    data-appear-animation-delay="600">Book your free personal demo now.
                                <p> -->
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn"
                                data-appear-animation-delay="800">
                                <h4 class="mt-2 mb-1">Our Office</h4>
                                <ul class="list list-icons list-icons-style-2 mt-2">
                                    <li><i class="fas fa-map-marker-alt top-6"></i>
                                        <p class="m-0 "><strong> Accucia Softwares Pvt Ltd.</strong>
                                            <br> Office No.303,304 3rd Floor, <br> Sanskriti Arcade,
                                            Kaspate
                                            Wasti, <br> Wakad, Pune, <br> Maharashtra 411057.
                                        </p>
                                        <a href="https://maps.app.goo.gl/Xi4N9FyoUap3PYvq8">Get Directions</a>
                                    </li>
                                    <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Mobile
                                            Number:</strong>
                                        <a href="tel:9175397887">+91 91753 97887</a>
                                    </li>
                                    <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong>
                                        <a href="mailto:hello@elevatorplus.in">
                                            hello@elevatorplus.in
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <br>
         
                            <div id="googlemapsMarkers" class="google-map mt-0 mb-4" style="height: 280px;">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.5345596124794!2d73.7713860751935!3d18.59501108251304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9c1a6a7666f%3A0xfc6991f85123a7df!2sAccucia%20Softwares%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1702623425330!5m2!1sen!2sin"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <h3 class="color--white mb-5" id="form-title">Let’s Connect!</h3>
                            <p class="massge">Your message has been sent successfully. We'll get back to you shortly.
                            </p>

                            <form class="contact-form" id="contact-form">
                                <div class="contact-form-success alert alert-success d-none mt-4">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>

                                <div class="contact-form-error alert alert-danger d-none mt-4">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block"></span>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Full Name</label>
                                        <input type="text" value="" maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="name" id="name">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Email Address</label>
                                        <input type="email" value="" maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="email" id="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Mobile Number</label>
                                        <input type="text" value="" id="phone" maxlength="10"
                                            class="form-control text-3 h-auto py-2" name="phone"
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Subject</label>
                                        <input type="text" value="" id="subject" maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="subject">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label mb-1 text-2">Message</label>
                                        <textarea maxlength="5000" rows="8" class="form-control text-3 h-auto py-2"
                                            name="message"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input type="submit" id="contact-btn" value="Send Message"
                                            class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="g-recaptcha"
                                            data-sitekey="6Lf0Yi4pAAAAADJ70jtgFdp2VwYk8Id-4RMgm0PD"></div>
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>

                </div>
                <% include layoutwebsite/clientlist %>
                    <% include layoutwebsite/clienttest %>


            </div>

        </div>
        <% include layoutwebsite/webfooter %>


            <!-- Vendor -->
            <script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="/website-files/js/theme.js"></script>

            <!-- Theme Custom -->
            <script src="/website-files/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="/website-files/js/theme.init.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
                integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"
                integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/website-files/js/contect.js"></script>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>


</body>

</html>