<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Elevator plus the best elevator management tool for your business</title>


    <meta name="keywords" content="Elevator Service Software, Elevator Service Scheduling Software, Elevator Service Mobile App, Elevator Contractor Management Software, 
    Elevator Management Software, Elevator Maintenance Service Software, 
    Elevator Field Service Software, Elevator Company Software, 
    Lift Maintenance Software, 
    Elevator Service Management Software,
    elevator software,
    repair service software,
    field service crm software,
    service and repair software,
    amc software,
    field service invoicing,
    elevator service tool,
    lift management software,
    elevator business software,
    elevator apps,
    Elevator Contractor Management Software ,AMC management for elevator companies, Elevator service management software, field service management software for elevator manufacturers, 
    Best Elevator Software, Software for Elevator CompanyLifts & Escalators business management software, elevator maintenance software, lift maintenance scheduling software, top field service software for Lifts & Escalators ,
    Technician Scheduling software for Lift repair services, amc software for Lifts & Escalator maintenance, Field service management software for elevator technicians, 
    amc software for Lifts & Escalator maintenance, Best FSM Software for lift and elevator , 
    Best Software for Lifts & Escalators Industry, lift service and maintenance software, elevator service and maintenance software,
    elevator software, lift maintenance company, lift property management, amc softwareservice crm,
    crm services,
    lift maintenance,
    software companies in salem,
    hvac software,
    elevator companies in pune,
    elevators in india,
    india elevators,
    lift consultants,
    elevator consulting firms,
    elevator consulting companies,
    elevator consulting,
    elevator consulting services,
    elevator company in pune,
    elevator manufacturers in pune,
    elevator companies in pune,
    lift manufacturers in pune,
    pune elevator companies,
    elevator manufacturers in maharashtra,
    elevators manufacturers in pune,
    elevators company in pune,
    elevator manufacturer in pune,
    elevator manufacturers in pune,
    elevator company in pune,
    star elevator,
    lift manufacturer in pune,
    lift manufacturers in pune,
    lift companies in pune,
    lift company in pune,
    elevators manufacturers in pune,
    star elevators,
    elevator manufacturer in pune, elevators company in mumbai,
    
    stretcher lift,
    elevator company in pune,
    hospital elevators,
    lift manufacturer in india,
    lift companies in pune," />
    <meta name="description"
        content="Take the free trial of elevator plus now and find  the long lasting solution for your elevator management business.  explore more ">
    <meta name="author" content="elevatorplus.app">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/img/elevatorplus-favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-files/img/elevatorplus-favicon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-files/website-filesvendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-files/css/theme.css">
    <link rel="stylesheet" href="/website-files/css/theme-elements.css">
    <link rel="stylesheet" href="/website-files/css/theme-blog.css">
    <link rel="stylesheet" href="/website-files/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-files/css/custom.css">
    <style>
        .font-size {
            font-size: 48px;
        }
    </style>
</head>

<body data-plugin-page-transition>
    <% include layoutwebsite/webheader %>
        <div class="body">

            <div role="main" class="main">
                <section
                    class="page-header page-header-modern page-header-background page-header-background-md py-0 overlay overlay-show overlay-op-8"
                    style="background-image: url(/website-files/elevator/demo-book-page.png);">
                    <div class="container mobile-padding">
                        <div class="row">
                            <div class="col-sm-6 order-2 order-sm-1 align-self-center p-static mobile-div">
                             
                                <div class="overflow-hidden pb-2">
                                    <h1 class="text-10 appear-animation" data-appear-animation="fadeInUpShorter"
                                        data-appear-animation-delay="300">The intelligent solution for
                                        <strong>Effortless Elevator Management</strong>
                                    </h1>
                                </div>
                                <div class="appear-animation" data-appear-animation="fadeInUpShorter"
                                    data-appear-animation-delay="400">
                                    <span class="sub-title text-4 mt-4">Book a Free Demo to understand how Elevator plus
                                        Can help your business.
                                    </span>
                                </div>
                              
                            </div>
                            <div class="col-sm-6 order-1  align-items-end justify-content-end d-flex mobile-div-none">
                                <div class="overflow-hidden hero-all-page d-flex video-container">
                                    <video width="540" height="360" controls autoplay muted  loop style="align-self: center;">
                                        <source src="/website-files/video/presentation.mp4" type="video/mp4">
                                        <source src="/website-files/video/presentation.mp4" type="video/webm">
                                        Your browser does not support the video tag.
                                      </video>
                             
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container position-relative z-index-3  pt-5 pb-5 hide-loptop">
                    <div class="row home-hero">
                        <div class="col-md-6 video-container hide-loptop">
                            <video width="auto" height="400" controls autoplay muted loop>
                                <source src="/website-files/video/presentation.mp4" type="video/mp4">
                                <source src="/website-files/video/presentation.mp4" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
                <section id="bookdemo" class="py-5 ">
                    <div class="container" >

                        <div class="row py-4 mobile-div-flex">
                            <div class="col-lg-5">

                                <div class="overflow-hidden mb-1">
                                    <h1 class="text-primary font-size font-weight-bold text-10  mb-0 appear-animation"
                                        data-appear-animation="maskUp" data-appear-animation-delay="200">Book Free
                                        <strong>Demo</strong>
                                    </h1>
                                </div>
                                <div class="overflow-hidden mb-3">
                                    <p class="lead text-5 mb-0 appear-animation" data-appear-animation="maskUp"
                                        data-appear-animation-delay="400">No technical expertise is required. <br><br> Our
                                        user-friendly interface and intuitive design make managing AMC easy and
                                        efficient, even for non-technical users.
                                    </p>
                                    <br>
                                    <p class="lead text-5 mb-0 appear-animation" data-appear-animation="maskUp"
                                        data-appear-animation-delay="400">Never be caught off guard by unexpected
                                        breakdowns.
                                      

                                    </p>


                                    <ul class="list list-icons list-primary list-side-borders mt-5">
                                        <li><i class="fas fa-check"></i> Not a single data loss. </li>
                                        <li><i class="fas fa-check"></i> Secure and reliable access from anywhere at any
                                            time.</li>
                                        <li><i class="fas fa-check"></i>Reduce costs and save money.
                                        </li>
                                    </ul>
                                </div>




                            </div>
                            <div class="col-lg-7 appear-animation" data-appear-animation="fadeIn"
                                data-appear-animation-delay="650">

                                <div class="offset-anchor" id="contact-sent"></div>

                                <!-- <h2 class="font-weight-bold text-7 mt-2 mb-0">Book Demo</h2> -->
                                <p class="mb-4">Feel free to ask for details, don't save any questions!</p>
                                <div>
                                    <!-- Calendly inline widget begin -->
                                    <div class="calendly-inline-widget"
                                        data-url="https://calendly.com/elevatorplusapp/test-meeting"
                                        style="min-width:320px;height:700px;"></div>
                                    <script type="text/javascript"
                                        src="https://assets.calendly.com/assets/external/widget.js" async></script>
                                    <!-- Calendly inline widget end -->
                                    <!-- <form id="contactFormAdvanced"
                                    action="<?php echo basename($_SERVER['PHP_SELF']); ?>#contact-sent" method="POST"
                                    enctype="multipart/form-data">
                                    <input type="hidden" value="true" name="emailSent" id="emailSent">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label mb-1 text-2">Full Name</label>
                                            <input type="text" value="" data-msg-required="Please enter your name."
                                                maxlength="100" class="form-control text-3 h-auto py-2" name="name"
                                                id="name" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label mb-1 text-2">Email Address</label>
                                            <input type="email" value=""
                                                data-msg-required="Please enter your email address."
                                                data-msg-email="Please enter a valid email address." maxlength="100"
                                                class="form-control text-3 h-auto py-2" name="email" id="email"
                                                required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="form-label mb-1 text-2">Subject</label>
                                            <select data-msg-required="Please enter the subject."
                                                class="form-control text-3 h-auto py-2" name="subject" id="subject"
                                                required>
                                                <option value="">...</option>
                                                <option value="Option 1">Option 1</option>
                                                <option value="Option 2">Option 2</option>
                                                <option value="Option 3">Option 3</option>
                                                <option value="Option 4">Option 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <p class="mb-2">Checkboxes</p>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" name="checkboxes[]" type="checkbox"
                                                        data-msg-required="Please select at least one option."
                                                        id="inlineCheckbox1" value="option1"> 1
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" name="checkboxes[]" type="checkbox"
                                                        data-msg-required="Please select at least one option."
                                                        id="inlineCheckbox1" value="option2"> 2
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" name="checkboxes[]" type="checkbox"
                                                        data-msg-required="Please select at least one option."
                                                        id="inlineCheckbox1" value="option3"> 3
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <p class="mb-2">Radios</p>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="radios"
                                                        data-msg-required="Please select at least one option."
                                                        id="inlineRadio1" value="option1"> 1
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="radios"
                                                        data-msg-required="Please select at least one option."
                                                        id="inlineRadio2" value="option2"> 2
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="radios"
                                                        data-msg-required="Please select at least one option."
                                                        id="inlineRadio3" value="option3"> 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="form-label mb-1 text-2">Attachment</label>
                                            <input class="form-control d-block" type="file" name="attachment"
                                                id="attachment">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 mb-4">
                                            <label class="form-label mb-1 text-2">Message</label>
                                            <textarea maxlength="5000" data-msg-required="Please enter your message."
                                                rows="6" class="form-control text-3 h-auto py-2" name="message"
                                                id="message" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12 mb-5">
                                            <input type="submit" id="contactFormSubmit" value="Send Message"
                                                class="btn btn-primary btn-modern pull-right"
                                                data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form> -->

                                </div>


                            </div>

                        </div>
                </section>
                <% include layoutwebsite/clienttest %>
            </div>

        </div>
        <% include layoutwebsite/webfooter %>


            <!-- Vendor -->
            <script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="/website-files/js/theme.js"></script>

            <!-- Theme Custom -->
            <script src="/website-files/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="/website-files/js/theme.init.js"></script>

</body>

</html>