<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us | Porto - Multipurpose Website Template</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Porto - Multipurpose Website Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/img/elevatorplus-favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-files/img/elevatorplus-favicon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-files/website-filesvendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-files/css/theme.css">
    <link rel="stylesheet" href="/website-files/css/theme-elements.css">
    <link rel="stylesheet" href="/website-files/css/theme-blog.css">
    <link rel="stylesheet" href="/website-files/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-files/css/custom.css">
    <style>
        .policy p{
            font-size: 16px !important;
        }
    </style>
</head>

<body data-plugin-page-transition>
    <% include layoutwebsite/webheader %>
        <div class="body">

            <div role="main" class="main">
                <section class="page-header page-header-modern bg-color-grey page-header-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 align-self-center p-static order-2 text-center">
                                <h1 class="text-dark font-weight-bold text-8">Policy </h1>
                                <!-- <span class="sub-title text-dark">Policy </span>.. -->
                            </div>

                        </div>
                    </div>
                </section>
                <section class=" section-background">

                    <div class="container appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="300">
                        <div class="row  pb-4 justify-content-between policy">
                            <h3>1. Introduction</h3>
                            <p>Elevator Plus ("we" or "us") respects your privacy and is committed to protecting your
                                personal information. This Privacy Policy explains how we collect, use, disclose, and
                                share your information when you use our website, mobile app, or other services
                                ("Services").</p>
                            <h3>
                                2. Information We Collect</h3>
                            <p>We may collect the following types of information from you: <br>

                                Personal Information: This includes your name, email address, phone number, physical
                                address, and any other information that can be used to identify you.
                                Usage Data: This includes information about your interactions with our Services, such as
                                the pages you visit, the features you use, and the time you spend on our platform.
                                Device Information: This includes information about your device, such as the type of
                                device, operating system, browser, and IP address.</p>
                            <h3>
                                3. How We Use Your Information</h3>
                            <p>We use your information to: <br>

                                Provide and improve our Services;
                                Send you important information about our Services;
                                Respond to your inquiries and requests;
                                Personalize your experience;
                                Detect and prevent fraud and abuse;
                                Comply with legal requirements.</p>
                            <h3>
                                4. How We Share Your Information</h3>
                            <p>We use your information to: <br>

                                Provide and improve our Services;
                                Send you important information about our Services;
                                Respond to your inquiries and requests;
                                Personalize your experience;
                                Detect and prevent fraud and abuse;
                                Comply with legal requirements.</p>
                            <h3>5. Your Choices</h3>
                            <p>You have the right to access, correct, delete, or restrict the processing of your
                                personal information. You can also object to the processing of your information for
                                marketing purposes. To exercise these rights, please contact us at
                                hello@elevatorplus.app.
                            </p>
                            <h3>6. Data Security</h3>
                            <p>We take reasonable measures to protect your information from unauthorized access,
                                disclosure, alteration, or destruction. However, no method of transmission over the
                                internet or method of electronic storage is 100% secure.
                            </p>
                            <h3>7. International Transfers</h3>
                            <p>Your information may be transferred to and processed in countries other than your own.
                                These countries may have different data protection laws than your country.
                            </p>
                            <h3>8. Changes to This Privacy Policy</h3>
                            <p>We may update this Privacy Policy from time to time. We will notify you of any changes by
                                posting the new Privacy Policy on our website.
                            </p>
                        </div>
                    </div>


                </section>

                <% include layoutwebsite/clienttest %>
                    <% include layoutwebsite/calltoaction %>

            </div>

        </div>
        <% include layoutwebsite/webfooter %>


            <!-- Vendor -->
            <script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="/website-files/js/theme.js"></script>

            <!-- Theme Custom -->
            <script src="/website-files/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="/website-files/js/theme.init.js"></script>

</body>

</html>