<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us | Porto - Multipurpose Website Template</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Porto - Multipurpose Website Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/img/elevatorplus-favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-files/img/elevatorplus-favicon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-files/website-filesvendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-files/css/theme.css">
    <link rel="stylesheet" href="/website-files/css/theme-elements.css">
    <link rel="stylesheet" href="/website-files/css/theme-blog.css">
    <link rel="stylesheet" href="/website-files/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-files/css/custom.css">
    <style>
        .terms p{
            font-size: 16px !important;
        }
    </style>
</head>

<body data-plugin-page-transition>
    <% include layoutwebsite/webheader %>
        <div class="body">

            <div role="main" class="main">
                <section class="page-header page-header-modern bg-color-grey page-header-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 align-self-center p-static order-2 text-center">
                                <h1 class="text-dark font-weight-bold text-8">Terms </h1>
                                <!-- <span class="sub-title text-dark">Policy </span>.. -->
                            </div>

                        </div>
                    </div>
                </section>
                <section class=" section-background">

                    <div class="container appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="300">
                        <div class="row  pb-4 justify-content-between terms">
                            <h3>1. Acceptance of Terms</h3>
                            <p>These Terms of Service ("Terms") govern your access to and use of the Elevator Plus
                                website, mobile app, and other services ("Services"). By accessing or using the
                                Services, you agree to be bound by these Terms.</p>
                            <h3>
                                2. Use of the Services</h3>
                            <p>You may only use the Services for lawful purposes and in accordance with these Terms. You
                                agree not to use the Services for any purpose that is harmful, offensive, or illegal.
                            <p>
                            <h3>
                                3. User Content</h3>
                            <p>You are responsible for any content you submit or upload to the Services ("User
                                Content"). You represent and warrant that you own all rights to your User Content and
                                that it does not infringe the rights of any third party.</p>
                            <h3>
                                4. Intellectual Property</h3>
                            <p>The Services and all content contained therein are protected by intellectual property
                                laws. You may not use any of the Services or content without our express written
                                permission.</p>
                            <h3>5. Termination</h3>
                            <p>We may terminate your access to the Services for any reason, at any time, without notice.
                            </p>
                            <h3>6. Disclaimer</h3>
                            <p>The Services are provided "as is" and without any warranties of any kind, express or
                                implied. We do not warrant that the Services will be uninterrupted, error-free, or
                                secure.
                            </p>
                            <h3>7. Limitation of Liability</h3>
                            <p>To the maximum extent permitted by law, we will not be liable for any damages arising out
                                of your use of the Services.
                            </p>
                            <h3>
                                8. Governing Law</h3>
                            <p>These Terms shall be governed by and construed in accordance with the laws of the State
                                of [your state], without regard to its conflict of laws provisions.
                            </p>
                        </div>
                    </div>


                </section>

                <% include layoutwebsite/clienttest %>
                    <% include layoutwebsite/calltoaction %>

            </div>

        </div>
        <% include layoutwebsite/webfooter %>


            <!-- Vendor -->
            <script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="/website-files/js/theme.js"></script>

            <!-- Theme Custom -->
            <script src="/website-files/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="/website-files/js/theme.init.js"></script>

</body>

</html>