<style>
    .author h5{
        letter-spacing: 1px;
    }
</style>
<section class="section section-height-3 section-text-light border-0 m-0 appear-animation pt-5 pb-5"
    data-appear-animation="fadeIn">
    <div class="container">
        <div class="row text-center pb-5">
            <div class="col-md-9 mx-md-auto">
                <div class="overflow-hidden mb-3">
                    <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation animated maskUp appear-animation-visible"
                        data-appear-animation="maskUp">
                        <span style="color: #000;">Clients & Accolades</span>

                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="owl-carousel carousel-center-active-item-2 nav-style-4 mb-4 pb-3"
                data-plugin-options="{'items': 1, 'loop': true, 'nav': true, 'dots': false}">
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
                        <div class="author">
                            <h4 class="text-5 mb-0" style="letter-spacing: 1px;">Mr. Narayan Kokate  </h4>
                            <span class="opacity-7">Director, Sungurard Elevators Pvt Ltd, Pune.</span>
                        </div>
                        <span class="star-rating">
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                        </span>
                    </div>
                    <p class="mb-0">"Elevator Plus has completely changed the way we run our company. We've noticed a
                        significant rise in productivity and efficiency since using the software. Everything about our
                        business has become more efficient, including generating quotations and assigning tasks to field
                        teams..
                        We've also been able to improve customer satisfaction with this software.
                        "</p>
                </div>
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
                        <div class="author">
                            <h4 class="text-5 mb-0">Mr. Ramesh Bhutkar</h4>
                            <span class="opacity-7"> Pune, Maharashtra</span>
                        </div>
                        <span class="star-rating">
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                        </span>
                    </div>
                    <p class="mb-0">"We can easily manage our technicians' schedules,and make sure they have all the
                        information they need to finish service requests quickly thanks to the app.
                        Elevator Plus reduces paperwork and administrative duties, giving us more time to concentrate on
                        giving our customers superior service.
                        "</p>
                </div>
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
                        <div class="author">
                            <h4 class="text-5 mb-0">Himanshu Patel</h4>
                            <span class="opacity-7">Sales Executive ,Vadodara, Gujarat</span>
                        </div>
                        <span class="star-rating">
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                        </span>
                    </div>
                    <p class="mb-0">"Working as a sales representative has been so much easier thanks to Elevator Plus.
                        The software improves the management of fieldwork flow. In addition, this software aids in my
                        close monitoring of PM and AMC management of our clients. "</p>
                </div>
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
                        <div class="author">
                            <h4 class="text-5 mb-0"> Sivanesan Pillai </h4>
                            <span class="opacity-7">Technician , Chennai, Tamil Nadu</span>
                        </div>
                        <span class="star-rating">
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                        </span>
                    </div>
                    <p class="mb-0">"As a technician, I had to spend a lot of time looking for job creations, paperwork,
                        manuals, and client data. Elevator Plus has made it a much simpler job by giving me easy access
                        to all the resources I need on my finger tips. "</p>
                </div>
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
                        <div class="author">
                            <h4 class="text-5 mb-0">Mr. Vishnu Gupta </h4>
                            <span class="opacity-7">Mumbai , Maharashtra</span>
                        </div>
                        <span class="star-rating">
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                            <i class="fas fa-star text-color-dark"></i>
                        </span>
                    </div>
                    <p class="mb-0">"We chose Elevator Plus because of its features and user-friendly interface.
                        The software has helped us improve communication and transparency with our clients. They can now
                        easily track the status of their service requests and access detailed reports on all work
                        performed.
                        "</p>
                </div>
              

            </div>
        </div>
    </div>
</section>