<style>
    .owl-stage-outer img{
        width: 100%;
    }
</style>

<section class="pt-5 pb-5 ">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-9 mx-md-auto">
                <div class="overflow-hidden mb-3">
                    <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation"
                        data-appear-animation="maskUp">
                        <span>Clients </span>
                     
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col">

                <div class="owl-carousel owl-theme mb-0" data-plugin-options="{'responsive': {'0': {'items': 3}, '476': {'items': 2}, '768': {'items': 5}, '992': {'items': 5}, '1200': {'items': 5}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false,'margin': 100}">
                    <div>
                        <img class="img-fluid opacity-10" src="/website-files/client/airezo.png" alt="airezo">
                    </div>
                    <div>
                        <img class="img-fluid opacity-10" src="/website-files/client/ecoplanet.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-10" src="/website-files/client/elysianelevators.png" alt="">
                    </div>
                    <div>
                        <img class="img-fluid opacity-10" src="/website-files/client/eonelevators.png" alt="">
                    </div>
                    <di>
                        <img class="img-fluid opacity-10" src="/website-files/client/Sungard.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>