
        
        <div class="row">
            <div class="col-lg-6">
                <div class="toggle toggle-primary" data-plugin-toggle>
                    <section class="toggle active">
                        <a class="toggle-title">Does your software send reminders for upcoming AMCs?</a>
                        <div class="toggle-content">
                            <p>Yes, our software sends automatic reminders for upcoming AMCs. These reminders can be helpful for your further processing and service.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I set exclusive reminder schedule for unique kinds of AMCs?</a>
                        <div class="toggle-content">
                            <p> Yes, Our software answers will let you create separate reminder schedules for special kinds of AMCs.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Will the software allow my customers to submit complaints?</a>
                        <div class="toggle-content">
                            <p> Yes, Our software provides clients to register complaints about breakdown issues , AMC or any other service request. it helps you plan the action further ahead.</p>
                            
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I generate instant quotations on the field?</a>
                        <div class="toggle-content">
                            <p>Yes, our software program provides the best solutions for your elevator management services. 
                                You can instantly generate quotations using reporting gear that lets you analyze client complaints and pick out tendencies.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I use the software for inventory management?</a>
                        <div class="toggle-content">
                            <p> No, but we can customise it based on your requirement. </p>

                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I combine the software with different business applications I use, like accounting or CRM systems?</a>
                        <div class="toggle-content">
                            <p>  Yes, our software solutions provide integration with famous enterprise programs. This lets you streamline your workflow.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can your software track the location of my employees?</a>
                        <div class="toggle-content">
                            <p> Absolutely! Elevator Plus offers real-time location tracking for all your employees, allowing you to optimize operations and ensure efficient service delivery. </p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> What kind of customer support do you offer?</a>
                        <div class="toggle-content">
                            <p> We offer comprehensive customer support through phone, email and online chat. Our dedicated team is always available to answer your questions and help you get the most out of Elevator Plus.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> How easy is it to set up and use your software?</a>
                        <div class="toggle-content">
                            <p>We have designed Elevator Plus for ease of use. We provide comprehensive onboarding materials and training resources. Our team is also available to assist you with the setup process.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I try your software before purchasing it?</a>
                        <div class="toggle-content">
                            <p>Yes, we offer a free trial of Elevator Plus. This allows you to experience its features and benefits firsthand and ensure it meets your specific needs before making a commitment.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Is your software secure and reliable?</a>
                        <div class="toggle-content">
                            <p>Data security is our top priority. We employ robust measures to protect your information. Furthermore, we regularly update the software to ensure optimal reliability and performance.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="toggle toggle-primary" data-plugin-toggle>
                    <section class="toggle active moblie-active">
                        <a class="toggle-title"> Does your software have attendence and leave mangement?</a>
                        <div class="toggle-content">
                            <p> Yes, we have a robust attendence and leave mangement system that simplifies employee management.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Is your software accessible to my team members?</a>
                        <div class="toggle-content">
                            <p>Yes, administrators, salespeople and technicians can access our software.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I generate estimates and reports easily?</a>
                        <div class="toggle-content">
                            <p> With Elevator Plus, generating estimates and reports takes just a click. This streamlined process makes your work more efficient.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Does your software offer alerts and notifications?</a>
                        <div class="toggle-content">
                            <p> Yes, we have a comprehensive notification system that alerts you to crucial events like breakdowns, maintenance reminders and service calls.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I track breakdowns and analyze performance?</a>
                        <div class="toggle-content">
                            <p> Definitely! Elevator Plus provides detailed breakdown reports and historical data for analysis. This helps you identify trends and improve preventive maintenance strategies.</p>

                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Does your software help with lead generation and client relationship management?</a>
                        <div class="toggle-content">
                            <p>  Yes, Elevator Plus offers lead generation tools and helps you manage client relationships effectively. You can track follow-ups, send targeted emails and manage your sales pipeline efficiently.</p>
                        </div>
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I create inspection checklists and reports?</a>
                        <div class="toggle-content">
                            <p>  Absolutely! Elevator Plus provides customizable inspection checklists and generates comprehensive reports after each maintenance visit, ensuring quality and compliance.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> How does your software handle lead and follow-up management?</a>
                        <div class="toggle-content">
                            <p> We have integrated payment processing and send automatic reminders for AMCs, PMs and other important tasks, ensuring timely payments reminders and service completion.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> What makes your software unique?</a>
                        <div class="toggle-content">
                            <p>Elevator Plus combines comprehensive features with a user-friendly design and an intuitive interface. This makes it easy for everyone in your company to utilize its full potential.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                    <section class="toggle ">
                        <a class="toggle-title"> Can I access the software from anywhere?</a>
                        <div class="toggle-content">
                            <p> Yes, Elevator Plus is cloud-based, allowing access from any device with an internet connection. This ensures flexibility and accessibility for your team.</p>
                            <a href="#" class="btn btn-modern btn-primary btn-effect-4">Book free Demo</a>
                        </div>
                    
                    </section>
                   
                    
                </div>
            </div>
                </div>
   