<style>
    .social-media i {
        font-size: 25px;
        color: #fff;
    }

    .social-dev {
        display: flex;
        flex-direction: column;

    }

    .footer-keyword li a {
        color: #fff !important;
    }
</style>

<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>Get in Touch</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 mb-4 mb-lg-0">
                <a href="/" class="logo pe-0 pe-lg-3">
                    <img alt="Porto Website Template" src="/website-files/img/footer-logo.png"
                        class="opacity-10 bottom-4" height="50">
                </a>
                <br>
                <p class="mt-2 mb-2 text-4">Our vision is to be a global, trusted leader in IT software services,
                    fostering innovation and shaping the future of technology.<br>

                    At Accucia, our mission is to empower businesses and individuals through innovative & quality tech
                    solutions.<br> We are committed to delivering top-notch IT services that enable our clients to
                    thrive in
                    the digital age...</p>
                <p class="mb-0"><a href="/aboutus" class="btn-flat btn-xs text-color-light"><strong class="text-2">VIEW
                            MORE</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>
            </div>
            <div class="col-md-6">
            
                <div class="row">
                   
                    <div class="col-md-6">
                        <h5 class="text-3 mb-3">CONTACT US</h5>
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1 text-white"><i class="fas fa-map-marker-alt text-color-primary"></i>
                                <p class="m-0 text-white">Accucia Softwares Pvt Ltd.
                                    <br> Office No.303,304 3rd Floor, Sanskriti Arcade,
                                    Kaspate
                                    Wasti, Wakad, Pune, Maharashtra 411057
                                </p>
                                <a href="https://maps.app.goo.gl/Xi4N9FyoUap3PYvq8">Get Directions</a>
                            </li>
                            <li class="mb-1 text-white"><i class="fab fa-whatsapp text-color-primary"></i>
                                <p class="m-0"><a class="text-white" href="https://api.whatsapp.com/send?phone=9175397887&text=Hello%2C%20From%20ElevatorPlus
                                    ">+91 9175397887</a></p>
                            </li>
                            <li class="mb-1 text-white"><i class="far fa-envelope text-color-primary"></i>
                                <p class="m-0"><a class="text-white"
                                        href="mailto:hello@elevatorplus.in">hello@elevatorplus.in</a></p>
                            </li>
                        </ul>
                    </div>
                 
                    <div class="col-md-6 social-dev">
                        <h5 class="text-3 mb-3">QUICK LINKS</h5>
                        <ul class="list list-icons list-icons-sm">
                            <!-- <li><i class="fas fa-angle-right"></i><a href="/faqs" class="link-hover-style-1 ms-1">Press Kit</a></li> -->
                            <li class="text-white"><i class="fas fa-angle-right"></i><a class="text-white" href="/blogs"
                                    class="link-hover-style-1 ms-1"> Blogs</a></li>
                            <li class="text-white"><i class="fas fa-angle-right"></i><a class="text-white" href="/faqs"
                                    class="link-hover-style-1 ms-1"> FAQ's</a></li>
                            <li class="text-white"><i class="fas fa-angle-right"></i><a class="text-white"
                                    href="/contactus" class="link-hover-style-1 ms-1">Contact Us</a></li>
                            <li class="text-white"><i class="fas fa-angle-right"></i><a class="text-white"
                                    href="/policy" class="link-hover-style-1 ms-1">Policy </a></li>
                            <li class="text-white"><i class="fas fa-angle-right"></i><a class="text-white"
                                    href="/terms" class="link-hover-style-1 ms-1">Terms</a></li>
                        </ul>
                        <div class="d-flex social-media justify-content-end" style="gap: 10px;">
                            <a href="https://www.youtube.com/channel/UC4AX7LbEuR-cfhm1-Mud_Og"> <i
                                    class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/in/elevator-plus-7340a02a5/"> <i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.facebook.com/elevatorplusapp"><i class="fa-brands fa-facebook"></i></a>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row footer-keyword">
            <div class="col-md-3">
                <ul>
                    <li> <a href="/features">Elevator Service Software</a>
                    <li> <a href="/features">Elevator Service Scheduling Software</a>
                    <li> <a href="/features">Elevator Service Mobile App</a>
                    <li> <a href="/features">Elevator Contractor Management Software</a>
                    <li> <a href="/features">Elevator Management Software</a>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li> <a href="/features"> Elevator Maintenance Service Software</a>
                    <li> <a href="/features">AMC software</a>
                    <li> <a href="/features">Elevator Contractor Management Software</a>
                    <li> <a href="/features">Lift maintenance company</a>
                    <li> <a href="/features">Field service management software</a>

                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li> <a href="/features">Elevator consulting services</a>
                    <li> <a href="/features">Elevator business software</a>
                    <li> <a href="/features">Lift service and maintenance software</a>
                    <li> <a href="/features">Elevator software</a>
                    <li> <a href="/features">Software for Elevator Company</a>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li> <a href="/features">AMC Software for Lifts & Escalator Maintenance</a>
                    <li> <a href="/features">Elevator Service Management Software</a>


                    <li> <a href="/features">Elevator consulting services</a>
                    <li> <a href="/features">Elevator service and maintenance software </a>
                    <li> <a href="/features">Lifts & Escalators business management software</a>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-md-6">
                    <div class="col d-flex align-items-center ">
                        <p>© Copyright 2023. All Rights Reserved.</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col d-flex align-items-center justify-content-end text-end social-media">
                        <p>Designed by <a href="https://accucia.com/">Accucia Softwares Pvt. Ltd.</a> </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PVL9VDZJ7Z"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PVL9VDZJ7Z');
</script>
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "k46aiogkjl");
</script>
<script src="/website-files/js/custom.js"></script>